<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap 3 cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- Fontawesome 4.7 cdn -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href = "/">YelpCamp</a>
				<button  type="button" class = "navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<ul class="nav navbar-nav">
		      	<li><a href="/campgrounds">Campgrounds</a></li>
		    </ul>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<% if(!currentUser){ %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
					<% }else{ %>
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle">Notifications <span class="badge"><%= notifications.length %></span></a>
							<ul class="dropdown-menu" style="padding:0; background:#eeeeee">
								<li><a href="/notifications">View past notifications</a></li>
								<li class="divider"></li>
								<% notifications.forEach((notification)=>{ %>
									<li>
										<a href="/notifications/<%= notification._id%>"><%= notification.username%> created a new campground</a>		
									</li>
								<% }); %>
								<% if(notifications.length < 1){ %> 
									<li class="text"><a>No new notifications...</a></li>
								<% } %>
							</ul>
						</li>

						<li><a>Signed In As <%= currentUser.username %></a></li>
						<li><a href="/logout">Logout</a></li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
							<ul class="dropdown-menu" style="padding:0; background:#eeeeee">
								<li><a href="/users/<%=currentUser._id%>">Profile</a></li>
							</ul>
						</li>
					<% } %>									
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<% if(error && error.length > 0){ %>
		<div class="alert alert-danger alert-dismissible fade in">
			<a class="close" data-dismiss="alert">&times;</a>
			<%= error %>
		</div>	
		<% } %>
		<% if(success && success.length > 0) {%>
		<div class="alert alert-success alert-dismissible fade in">
			<a class="close" data-dismiss="alert">&times;</a>
			<%= success %>
		</div>	
		<% } %>
	</div>
	
	
	<div class="container">