<%- include('../partials/header') %>

<div class="row">
	<div class="col-md-3">
		<p class="lead">YelpCamp</p>
		<div class="list-group">
			<li class="list-group-item active">Info 1</li>
			<li class="list-group-item">Info 2</li>
			<li class="list-group-item">Info 3</li>
		</div>
	</div>
	<div class="col-md-9">
		<div class="thumbnail">
			<img class="img-responsive"src="<%= campground.image %>">
			<div class="caption">
				<h4 class="pull-right">$<%= campground.cost %>/night</h4>
				<h4><a href=""> <%= campground.name %></a></h4>
				<p> <%= campground.description %> </p>
				<p>
				 	<em>Submitted By <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %> </em>
				</p>
				<% if((currentUser && campground.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin) ){ %>
					<span class="pull-right e-d-btn">
						<a class = "btn btn-xs btn-warning"href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST" class="delete-form">
						 	<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					</span>
				<% }%>	
				<div style="">
                    <a class="btn btn-back" href="/campgrounds"><i class="fa fa-arrow-left"></i> Go back</a>
                </div>			 
			</div>
		</div>

		<!-- Review Section -->
		<div class="thumbnail">
			<div class="caption">
				<% if(campground.rating === 0){ %>
					<h5>
						<em>No reviews yet.</em>
					</h5>
				<% }else { %>
					<p>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star <% if(campground.rating > 1.5){%> checked <%}%>"></span>
						<span class="fa fa-star <% if(campground.rating > 2.5){%> checked <%}%>"></span>
						<span class="fa fa-star  <% if(campground.rating > 3.5){%> checked <%}%>"></span>
						<span class="fa fa-star <% if(campground.rating > 4.5){%> checked <%}%>"></span>
						<em>(total reviews: <%= campground.reviews.length %>)</em>
					</p>
					<p>
						Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
					</p>
					<p><h4>Latest reviews for this campground: </h4></p>
					<hr style="margin-top:0">

					<% campground.reviews.slice(0,5).forEach((review)=>{ %>
						<div class="row">
							<div class="col-md-3">
								<%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
								<%- '<span class="fa fa-star"></span>'.repeat(5-review.rating) %>
								<div>Review by: <strong><%= review.author.username %></strong></div>

								<% if(campground.updatedAt){ %>
									<span><em><%= review.updatedAt.DateString() %></em></span>
								<% } %>
							</div>
							<div class="col-md-9">
								<p class="text-justify">
									<%= review.text %>
								</p>
								<% if((currentUser && review.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
									<span class="pull-right e-d-btn">
										<a href="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
										<form class="delete-form" action="/campgrounds/<%=campground._id%>/reviews/<%=review._id %>?_method=DELETE" method="POST">
											<input type="submit" class="btn btn-danger btn-xs" value="Delete">
										</form>
									</span>
								<% } %>
							</div>
						</div>
						<hr>
					<% }); %>
					<div>
						<h4><a href="/campgrounds/<%=campground._id%>/reviews"><i class="fa fa-search"></i> See all reviews</a></h4>
					</div>
				<% }%>
				<div>
					<a href="/campgrounds/<%=campground._id%>/reviews/new" class="btn btn-primary btn-lg <% if(currentUser && campground.reviews.some((review)=>{return review.author.id.equals(currentUser._id)})){ %> disabled <%}%>">
						Write a New Review
					</a>
				</div>
			</div>
		</div>


		<!-- Comment Section -->

		<div class="well">
			<div class="text-right">
				<a href="#collapseComment" class = "btn btn-success pull-right" data-toggle="collapse">
					<span class="glyphicon glyphicon-plus"></span>
					 Add new comment
				</a>
			</div>

			<!-- Comment Section title -->
			<h4><strong>Comments <span class="glyphicon glyphicon-comment"></span></strong></h4>

			<!-- Collapse add a comment from start -->
			<div class="collapse" id="collapseComment">
				<div class="well">
					
					<% if(!currentUser){ %>
					<!-- if user is not logged in -->
					<h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
				<% }else{ %>
						<!-- if user logged in show the comment form -->
						<h4>Write your comment
							<span class="glyphicon glyphicon-pencil"></span>
						</h4>
						<form action="/campgrounds/<%=campground._id%>/comments" method="POST">
							<div class="form-group">
								<input type="text" class="form-control" disabled value="<%= currentUser.username %>">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="comment[text]" placeholder="Write You comment..." rows="5" cols="70"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-success btn">Comment
								</button>
							</div>
						</form>
				<% } %>
				</div>
			</div>
			<hr>

			<!-- Checking if there are comments, if there are none say no comments -->
			<% if(campground.comments.length === 0){%>
			<em>No comments yet.</em>
			<% }%>

			<!-- Display Comments by looping through them -->
			<% campground.comments.forEach((comment)=>{ %>
				<div class="row comment-row">
					<div class="col-md-12">
						<strong>
						 	<% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
						 		<!-- if owner then show color if user icon -->
						 		<span style="color:orange" class="glyphicon glyphicon-user"></span>
						  	<% } else{ %>
						  		<span class="glyphicon glyphicon-user"></span>
							<% }%><%= comment.author.username %>
						</strong>
						<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
						<p><%= comment.text %></p>

						
						<% if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
							<span class="pull-right e-d-btn">
								<a href="#collapseEdit<%= comment._id%>" class="btn btn-xs btn-warning" data-toggle="collapse">Edit</a>
								<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="delete-form">
									<button class="btn btn-xs btn-danger">Delete</button>
								</form>
							</span>

							<!-- Edit comment form -->
							<div class="collapse collapseEdit" id="collapseEdit<%= comment._id%>"	>
								<div class="well">
									<h4>Edit your comment
										<span class="glyphicon glyphicon-edit"></span>
									</h4>
									<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
										<div class="form-group">
											<input type="text" class="form-control" disabled value="<%= currentUser.username%>">
										</div>
										<div class="form-group">
											<textarea name="comment[text]" class="form-control" placeholder="Your comment text..."><%=comment.text%></textarea>
										</div>
										<div class="form-group">
											<button class="btn btn-warning">Update comment <span class=""></span></button>
										</div>
									</form>
								</div>	
							</div>
						<% } %>
						<hr>							
					</div>
				</div>					
			<% }) %>
		</div>
		<!-- Comment Section End -->


		
	</div>
</div>






<%- include('../partials/footer') %>