<%- include('../partials/header') %>

<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<h1 class="text-center">Edit Profile</h1>	
		<div class="row">
			<div class="col-sm-4" style="display:flex; justify-content: center; margin-top:25px">
				<div class="thumbnail" style="border-radius:50%">
					<img src="<%= user.avatar %>" alt="user profile image" style="max-width:250px;">
				</div>
			</div>
			<div class="col-sm-8 form-horizontal">
				<form action="/users/<%=user._id%>?_method=PUT" method="POST">
					<div class="form-group">
						<label for = "username" class = "control-label col-md-3">Username*:</label>
						<div class="col-md-9">
							<input type="text" name="user[username]" placeholder="john123" class="form-control" value="<%= user.username%>" required>		
						</div>
					</div>
					<div class="form-group">
						<label for = "firstName" class = "control-label col-md-3">First Name*:</label>
						<div class="col-md-9">
							<input type="text" name="user[firstName]" placeholder="John" class="form-control" value="<%= user.firstName%>" required>		
						</div>
					</div>
					<div class="form-group">
						<label for = "lastName" class = "control-label col-md-3">Last Name:</label>
						<div class="col-md-9">
							<input type="text" name="user[lastName]" placeholder="last name" class="form-control" value="<%= user.lastName%>">	
						</div>
					</div>
					<div class="form-group">
						<label for = "email" class = "control-label col-md-3">Email*:</label>
						<div class="col-md-9">
							<input type="email" name="user[email]" placeholder="john@doe.com" class="form-control" value="<%= user.email%>" required>		
						</div>
					</div>
					<div class="form-group">
						<label for = "description" class = "control-label col-md-3">Description:</label>
						<div class="col-md-9">
							<textarea row="5" cols="75" name="user[description]" placeholder="Something about you" class="form-control"><%= user.description%></textarea>		
						</div>
					</div>
					<div class="form-group">
						<label for = "avatar" class = "control-label col-md-3">Avatar:</label>
						<div class="col-md-9">
							<input type="text" name="user[avatar]" placeholder="set your avatar" class="form-control" value="<%= user.avatar%>">		
						</div>
					</div>
					<div class="form-group">
						<div class = "col-md-offset-3 col-md-9">
							<input class = "btn btn-lg btn-primary btn-block" type="submit" value = "Update">	
						</div>
					</div>					
				</form>
				<br>
				<span style="padding-left:8%"><a href="/users/<%=user._id%>" class="">Go Back</a></span>
			</div>
		</div>	
		<div class="row">
			<form action="/users/<%=user._id%>?_method=DELETE" method="POST" onSubmit="confirmDelete();">
					<button class="btn btn-sm btn-danger" >Delete Account</a>
				</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function confirmDelete(){
		var answer = confirm("Do your really want to delete your account.\nAll your data will be deleted permanently.");
		if(answer === true){
			return true;
		}
		if(answer === false){
			event.preventDefault();
			return false;
		}
	}
</script>

<%- include('../partials/footer') %>