<%- include('../partials/header') %>

<div class="row">
	<div class="col-sm-4">
		<h1 class="text-center"><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail" style="border-radius:50%">
			<img src="<%= user.avatar %>" alt="user profile image" style="border-radius:50%" class="img-responsive">					
		</div>
		<a href="mailto:<%= user.email %>"><%= user.email %></a>
		<div class="text-right"><a href="/users/<%= user._id %>/edit">Update Profile</a></div>
		<div><%= user.description %></div>
	</div>
	<div class="col-sm-8">
		<h3><%= user.username %>'s campgrounds:</h3>
		<ul>
		<%  campgrounds.forEach((campground)=>{ %>
			<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
		<% }) %>
		</ul>
	</div>
</div>

<%- include('../partials/footer') %>