<%- include('../partials/header') %>

<div class="row">	
	<h1 class="text-center" style="text-transform: capitalize;"><%= user.firstName + " " + user.lastName %>'s Profile</h1>
	<div class="col-sm-4">
		<div class="thumbnail" style="border-radius:50%">
			<img src="<%= user.avatar %>" alt="user profile image" style="border-radius:50%" class="img-responsive">					
		</div>
		<% if((currentUser && user._id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin) ){ %>
			<div class="text-right pull-right"><a href="/users/<%= user._id %>/edit">Update Profile</a></div>
			<div class="email"><h3>Email:</h3>
				<div><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
			</div>
		<%} %>
		
		
		<div class="description"><h3>About</h3>
			<div><%= user.description %></div>
		</div>
	</div>
	<div class="col-sm-8" style="padding:15px 35px">
		<h3 class="text-capitalize"><%= user.username %>'s campgrounds:</h3>
		<ul style="font-size:1.1em;">
		<%  campgrounds.forEach((campground)=>{ %>
			<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
		<% }) %>
		</ul>
	</div>
</div>


<%- include('../partials/footer') %>